<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--レスポンシブウェブデザイン-->
    <meta name="viewport" content="width=device-width", initial-scale=1 shrink-to-fit=no>
    <!-- BootstrapのCSS読み込み -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/hello.css">
    <!--JQuery -->
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script>
      //絞り込み検索の下位区分を表示/非表示
      $(function(){
        $(".author_name").click(function(){
          if($(this).siblings(".title").css('display') == 'none'){
            $(this).siblings(".title").show();
          }
          else{
            $(this).siblings(".title").hide();
          }
        });
//"すべて"を選択したとき、他の歌人のチェックをはずす/特定の歌人を選択した時、"すべて"のチェックをはずす

$('input[name=s_author]').on('click',function(){
  if($(this).val() == 'すべて'){
    $('input[name=s_author]').prop('checked',false);
    $(this).prop('checked',true);      
   }
  else{
   $('input[name=s_author]').each(function(){
    if($(this).val() == 'すべて'){
     $(this).prop('checked',false);
    }
   });
  }
});
//word2vecの結果を表示
    $("#w2v_btn").click(function(){
        
      //チェックボックスの（複数の）値を取得
      var s_keyword = $('[name=s_keyword]').val();
      console.log(s_keyword);//ベクトル空間サイズの値取得            
      var search_method = $('[name=search_method]:checked').val();//ベクトル空間サイズの値取得      
        var s_authors = '';
        $('[name=s_author]:checked').each(function(){
          s_authors += '&s_author='+$(this).val();
      });
      //ここでs_authorsに歌人リストのURLが入ってます
      //console.log(s_authors);
      var size = $('[name=size]:checked').val();//ベクトル空間サイズの値取得
      //console.log('size:'+size);
      var min_count= $('[name=min_count]:checked').val();//最低出現回数の値取得
      //console.log(min_count);
      var window = $('[name=window]:checked').val();//文脈幅の値取得
      //console.log(window);
      var get_url = '/get_w2vec/?min_count='+min_count+'&size='+size;
      get_url = get_url+'&window='+window+'&search_method='+search_method;
      get_url = get_url+'&s_keyword='+s_keyword+'&s_author='+s_authors;
      console.log(get_url); 
      
  $("#word2Vec").text('');//<div id="word2Vec"></div>を空にして追記
 // $("#word2Vec").text('Counting...');
        //jQueryの$.ajaxでJSONを取得し、data引数に渡す
        $.ajax({
          url:get_url,
          dataType:"json"
        }).done(function(data){
        //console.log(data);
        var html ='';
        for(i=0;i<data.length;i++){//キーワードでループ
        html+= '<div class="col-sm-4">';
        html+= '<div class="alert alert-primary" role="alert">'+data[i].keyword+'と関連する語</div>';
                html+= '<table class="table"><thead><tr><th scope="col"></th><th scope="col">類似語</th><th scope="col">類似度</th></tr></thead><tbody>';
        for(j=0;j<data[i].most_similar_data.length;j++){
    
        html += '<tr><th scope="row">'+j+'</th><td>'+data[i].most_similar_data[j].similarity+'</td><td>'+data[i].most_similar_data[j].similar_word+'</td></tr>';}
        html +='</tbody></table></div>';}
      console.log(html);
      $("#word2Vec").append(html); 
        
    });
  });});

//検索キーワードなどがない時にアラートを出す処理
 function check(){
    var n =document.forms.search_form.s_keyword.value;//検索フォームのフォーム部品の値を調べる
    if (n　==""){//入力が空のとき
        window.alert("検索語を入力してください");//メッセージを表示
        return false;}//送信をキャンセル
    else{//入力されていれば
        return true;
    }
};


</script>
      <noscript>お使いのブラウザはJavascriptをサポートしていません</noscript>
    <title>近代短歌データベース</title>
  </head>
  <body>
    <!-- 1行目 -->
    <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12">
    <nav>
        <ul class="nav nav-tabs mr-auto mt-lg-0 justify-content-end nav-pills">
          <li class="nav-item active">
           <a class="nav-link text-dark" href="#home" data-toggle="tab">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#about" data-toggle="tab">このサイトについて</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#source" data-toggle="tab">底本について</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#contact" data-toggle="tab">連絡先</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="jumbotron jumbotron-fluid text-white">
              <div class="container">
            <p class="display-4" class="text-left">近代短歌データベース</p>
        </div>
        </div>
          </div>
          <div class="tab-pane" id="about">
            <h6>このサイトについて</h6>
            <div>
              本サイトでは近代短歌の全文検索と簡易な分析が可能です。
            </div>
            <div>
              近代短歌テキストはデジタル化されている資料が少なく、小説や戯曲といった他の近代文学のジャンルと比較してテキスト分析の対象となることはほとんどありませんでした。本サイトは近代短歌の検索・分析可能なテキストを増やしていくことで、具体的な表現に基づいた研究や情報技術を用いた研究に資することを目的としています。テキストの質・量ともに改善の余地は大いにありますが、一応の成果物としてここに公開いたします。広く活用していただけると嬉しいです。また、本サイトの作成にあたり人文情報学研究所の永崎研宣先生をはじめとする多くの方のご助力を賜りましたことを感謝申し上げます。　村田祐菜</div>
            <div><br>
              <h6>テキストについて</h6>
              　OCRされたテキストの修正作業は個人によるもので、誤字もあるため随時修正していく予定です。使用した底本については「底本について」を参照ください。
            </div><br>
              <div><h6>漢字表記について</h6>
              　<a>漢字表記は底本のままとし、以下を参考に旧字、新字の統一を行っています。<br>
              　<a href="https://wwwap.hi.u-tokyo.ac.jp/ships/itaiji_list.jsp">史料編纂所データベース異体字同定一覧</a><br>
              　<a href="https://eiichi.shibusawa.or.jp/denkishiryo/digital/main/index.php?kanji">デジタル版『渋沢栄一伝記資料』新旧文字置換対照表</a></div>
          </div>
          <div class="tab-pane" id="source">
          
              <h6>底本情報</h6>
              <ul>
              <li>古泉千樫：『日本現代文学全集52』（講談社、1965）</li>
              <li>斎藤茂吉：『斎藤茂吉全集』（岩波書店、1973-1976）</li>
              <li>島木赤彦：『赤彦全集』（岩波書店、1929-1970）</li>
              <li>釈迢空：『折口信夫全集』（中央公論社、1965-1968）</li>
              <li>中村憲吉：『中村憲吉全集』（岩波書店、1982）</li>
              <li>与謝野晶子：『与謝野晶子全集』（文泉堂出版、1933-1934）</li>
            </ul>

          </div>
          <div class="tab-pane" id="contact">
            
              <h6>連絡先</h6>
              <ul>
              <li>村田祐菜</li>
              <li>メール：kakumadeni★gmai.com（★を@に置き替えてください）</li></ul>
          </div>
        </div>
    </nav></div></div></div>
 
    <!-- 3行目 -->
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-4">
    <form action = "/output/" method = "GET" onsubmit="return check();" name="search_form">  
      <!--キーワード入力フォーム-->
      <div class="form-group">
      <label class="font-weight-bold">キーワード</label>
      <input type="text" name="s_keyword" class="form-control" size="50" minlength="1" value={{keyword}}>
      </div>
       
       <!--検索ボタン-->
       <div class="form-group">
       <label class="font-weight-bold">検索方法</label><br>
       <div class="form-check form-check-inline">
       <input class="form-check-input" type="radio" name="search_method" value="and" checked> 
       <label class="form-check-label">and検索</label></div>

       <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="search_method" value="or">
        <label class="form-check-label">or検索</label>
      </div></div>
      <!--歌人名セレクトフォーム-->
      <!--<p>歌人名<input type="text" name="author" size="50" minlength="1" value="{{kajin}}" required  placeholder="歌人名を入力してください"></p>-->
      <div class="form-group" id="author_check">
        <label class="font-weight-bold">歌人</label><br>
        <div class="form-check form-check-inline" >
          <input class="form-check-input" class="author" type="checkbox" value="すべて" name="s_author" checked>
          <label class="form-check-label-author">すべて</label>
          </div>
        　<div class="form-check form-check-inline">
          <input class="form-check-input" class="author"  type="checkbox" value="斎藤茂吉" name="s_author">
          <label class="form-check-label-author">斎藤茂吉</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="島木赤彦" name="s_author">
            <label class="form-check-label-author">島木赤彦</label>
            </div>
          <div class="form-check form-check-inline">
          <input class="form-check-input" class="author"  type="checkbox"value="釈迢空" name="s_author">
          <label class="form-check-label-author" >釈迢空</labelclass="font-weight-bold">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="与謝野晶子" name="s_author">
            <label class="form-check-label-author">与謝野晶子</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" class="author"  type="checkbox" value="小泉千樫" name="s_author">
              <label class="form-check-label-author">古泉千樫</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" class="author"  type="checkbox" value="中村憲吉" name="s_author">
              <label class="form-check-label-author">中村憲吉</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" class="author"  type="checkbox" value="与謝野鉄幹" name="s_author" disabled>
                <label class="form-check-label-author text-muted">与謝野鉄幹</label>
              </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="石川啄木" name="s_author" disabled>
            <label class="form-check-label-author text-muted">石川啄木</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="北原白秋" name="s_author" disabled> 
            <label class="form-check-label-author text-muted">北原白秋</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="長塚節" name="s_author" disabled>
            <label class="form-check-label-author text-muted">長塚節</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="正岡子規" name="s_author" disabled>
            <label class="form-check-label-author text-muted">正岡子規</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox"  value="伊藤佐千夫" name="s_author" disabled>
            <label class="form-check-label-author text-muted">伊藤佐千夫</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="服部躬治" name="s_author" disabled>
            <label class="form-check-label-author text-muted">服部躬治</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author" type="checkbox" value="土屋文明" name="s_author" disabled>
            <label class="form-check-label-author text-muted">土屋文明</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="前田夕暮" name="s_author" disabled>
            <label class="form-check-label-author text-muted">前田夕暮</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="会津八一" name="s_author" disabled>
            <label class="form-check-label-author text-muted">会津八一</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="窪田空穂" name="s_author" disabled>
            <label class="form-check-label-author text-muted">窪田空穂</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="若山牧水" name="s_author" disabled>
            <label class="form-check-label-author text-muted">若山牧水</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" class="author"  type="checkbox" value="太田水穂" name="s_author" disabled>
            <label class="form-check-label-author text-muted">太田水穂</label>
            </div>
            <small class="form-text text-muted">テキスト化済みの作家のみ選択可能です。選択不可の作家も今後追加検索、分析可能になる予定です。</small>
      </div>

       <!--年代間隔入力フォーム-->
       <div class="form-group">
        <label class="font-weight-bold">年代間隔</label>
        <input type="text" name="m_num" size ="5" value ="1" class="form-control">
        <small class="form-text text-muted">指定の年数区分でグラフを表示します</small>
        </div>

        <div class="form-group"></div>
        <input type="submit" class="btn btn-primary" value="検索"/>
  </form>
<br>
  <div class="group">
    <div><!--ヒットした歌人を表示-->
      <p class="font-weight-bold">しぼり込み検索</p>
      <p>{{hensuu|safe}}</p>
      <ul id="hit_author">
        {% for key, value in hit_author.items() %}
        <li class="author_name"  >{{key|safe}}</li>
        <div class="title" style="display:none">
        <ul>
        {% for key2,value2 in value.items() %}
              <li ><a href="/output/{{key2|safe}}">{{value2|safe}}</a></li>
            {% endfor %}
        </ul>
        </div>
        {% endfor %}
    </ul>
  </div>
</div></div>
<div class="col-lg-8">
  <div class="alert alert-primary" role="alert">
    ヒットした短歌:　{{hit_poet_num|safe}}件</div>
    <!--検索結果の表示をタブで切り替え-->
    <!--タブの表示-->
    <ul class="nav nav-tabs" id="myTab" class="nav" role="tablist">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" id="word-tab" href="#word" role="tab" aria-controls="keyword" aria-selected="ture">キーワードを含む短歌</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" id="graph-tab" href="#graph" role="tab" aria-controls="graph" aria-selected="false">グラフ表示</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" id="w2vec-tab" class="w2v_nav" href="#w2vec" role="tab" aria-controls="w2vec" aria-selected="false">類似する単語</a></li>
    </ul>

　<!--パネル表示-->
<div class="tab-content mt-3" id="myTabContent">
  <div class="tab-pane show active" id="word" role="tabpanel" aria-labelledby="word-tab">
<!--キーワードを含む短歌--> 
  <ul id="navigation" class="list-group">
    {% for item in navigation %}
        <li class="list-group-item">{{ item |safe}}</li>
    {% endfor %}
    </ul>
    {{ a_variable }}

    {{pagination.links}}
</div>
    
<!--グラフ--> 
<div class="tab-pane" id="graph" role="tabpanel" aria-labelledby="graph-tab">
  <canvas id="myChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  
  <script>
    
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
      // 作成したいチャートのタイプ
      type: 'bar',
      // データセットのデータ
      data: {
        
        labels:{{y_labels_list|safe}} ,//y軸のラベル ここに年代を入れる
        datasets: [ {% for n in range(bar_labels|length) %}
        {
            label: ["{{bar_labels[n]|safe}}"],//上に表示されるラベル名
            data: {{graph_data_list[n]|safe}},//x軸のデータ　ここに年代ごとのヒット数を入れる
            backgroundColor: "{{backgroundColor_list[n]|safe}}",
            borderWidth: 0
    }, {% endfor %}]},
      
      // ここに設定オプションを書きます
     options: {scales: {xAxes: [// Ｘ軸設定
                    {scaleLabel: {                 // 軸ラベル
                            display: true,                // 表示設定
                            labelString: '短歌の制作年',    // ラベル
                            fontSize: 16                  // フォントサイズ
                        },}],
                    yAxes: [
                    {scaleLabel: {                  // 軸ラベル
                            display: true,                 // 表示の有無
                            labelString: 'ヒット数',     // ラベル
                            fontSize: 16                   // フォントサイズ
                        },}]             
                        }}
  });
</script>
  </div>
         
<!--W2vec--> 
<div class="tab-pane" role="tabpanel" aria-labelledby="w2vec-tab"id="w2vec">
  　<p>単語の意味をベクトル表現化するword2Vecで、検索キーワードと類似する語を表示します。精度はまだ改善の余地があるため、あくまで参考程度にご覧ください。以下でパラメータを変更することができます。</p>
     <!--ベクトル次元数--> 
     <div class="form-group">
      <label class="font-weight-bold">size:ベクトルの次元数</label><br>
     <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="size" value="500" checked> 
     <label class="form-check-label">500</label></div>
     <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="size" value="1000">
      <label class="form-check-label">1000</label></div></div>
      <!--ウインドウ--> 
      <div class="form-group">
      <label class="font-weight-bold">window:前後n語を学習に用いる</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="window" value="5" checked> 
        <label class="form-check-label">5</label></div>
        <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="window" value="10">
         <label class="form-check-label">10</label></div></div>

      <!--最低出現回数--> 
      <div class="form-group">
      <label class="font-weight-bold">min_count:学習に使う単語の最低出現回数</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="min_count" value="1" checked> 
        <label class="form-check-label">1</label></div>
        <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="min_count" value="5">
         <label class="form-check-label">5</label></div></div>
     <button class="btn b mr-3 btn-dark" id="w2v_btn" >類似する単語を表示</button>
<br>
<div class="row" id="word2Vec">
  <!--この後に表形式でw2vの結果を表示-->
</div></div></div>





 
  

  
</body>
</html>